
module vscode-ssh 1.0;

require {
	type unreserved_port_t;
	type sshd_session_t;
	class tcp_socket name_connect;
}

#============= sshd_session_t ==============

#!!!! This avc can be allowed using the boolean 'nis_enabled'
allow sshd_session_t unreserved_port_t:tcp_socket name_connect;
