[Desktop Entry]
Type=Application
Name=Twitch
Comment=Twitch web application
Exec=/usr/local/bin/brave-origin-wayland.sh --app=https://www.twitch.tv/
Icon=/home/erik/Apps/icons/twitch.svg
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
# Get this value by using qdbus-qt6 org.kde.KWin /KWin queryWindowInfo
# The desktop file name should match this name as well
StartupWMClass=brave-www.twitch.tv__-Default

