[Desktop Entry]
Type=Application
Name=Microsoft Outlook
Comment=Microsoft Outlook web application
Exec=/usr/local/bin/brave-origin-wayland.sh --app=https://outlook.live.com/mail/
Icon=/home/erik/Apps/icons/microsoft-outlook.svg
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
# Get this value by using qdbus-qt6 org.kde.KWin /KWin queryWindowInfo
# The desktop file name should match this name as well
StartupWMClass=brave-outlook.live.com__mail_-Default

